<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Pokedex</h1>
    <ul>
        <% pokemons.forEach(function(pokemon) { %>
            <li>
                <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.nome %></a> -
                <%= pokemon.tipo %>
            </li>
        <% }); %>
    </ul>
    <div class="button-container">
        <a href="/create" class="create-button">Cadastrar Pokémon</a>
        <a href="/trainers/create" class="button">Cadastrar Treinador</a>
    </div>
</body>
</html>
