<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Treinadores</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Lista de Treinadores</h1>
    <ul>
        <% trainers.forEach(function(trainer) { %>
            <li>
                <strong><%= trainer.nome %></strong> - Pokémon: 
                <%= trainer.pokemons.join(', ') %>
            </li>
        <% }); %>
    </ul>

    <div class="button-container">
        <a href="/trainers/create" class="button">Cadastrar Treinador</a>
        <a href="/" class="button back-button">Voltar para a Página Inicial</a>
    </div>
</body>
</html>
